/**
 * @author Thomas Lenz <thomas.lenz96@gmail.com> AS The2b
 * @date 12 October 2017
 * @project Google Maps JS API
 * @file gm-js-game.css
 * @course Web and Dist Programming
 * @semester Fall, 2017
 */

/* Google says to always set the map height explicitly */
#gameMap {
	height:90%;
	top-left:0;
	padding:0;
	margin:0;
}

body {
	padding:0;
	margin:0;
	height:100%;
}

p.footer {
	height:0px;
	padding:0;
	margin:0;
	background-color:white;
}

h2.score {
	position:absolute;
	left:8%;
	display:inline-block;
}

h2.gettingStarted {
	cursor:help;
	right:8%;
	position:absolute;
	display:inline-block;
}

h2.hint {
	cursor:help;
	position:relative;
	left:40%;
	text-align:center;
	display:inline-block;
       	visibility:hidden; /* Changes in JS */
}
