/*
	@author Tom Lenz <thomas.lenz96@gmail.com> AS The2b
	@course Web and Distributed Programming
	@project Favorite Hobby (Project 1)
	@file 01-favorite-hobby.css
	@semester Fall 2017
*/

h3.oneline {
	display:inline;
}

a.external:hover {
	color:blue;
}

a.external {
	font-weight:bold;
}

img.scale-hover {
	transition:width 1s,height 1s;
}

img.scale-hover:hover {
	width:800;
	height:800;
}
